{% extends 'base.html' %}
{% load static %}
{% block title %}Task Management System{% endblock %}

{% block content %}
{% if not user.is_authenticated %}

 <div class="container">
    <h1>Task Management System</h1>
    <p class="message">Welcome to the Task Management System.</p>
    <p class="message">You can organize your tasks, set deadlines, and keep track of your work.</p>

    <div class="cta">
        <p>If you don't have an account, please <a href="{% url 'register'%}">Sign Up</a>.</p>
        <p>Already have an account? <a href="{% url 'login'%}">Login here</a>.</p>
    </div>
</div>
{% else %}
  <div class="container1">
    <div class="col-md-12 col-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4>Task Details</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody><tr>
                  <th class="text-center">
                   
                  </th>
                  <th>Task Name</th>
                  <th>Due Date</th>
                  <th>Action</th>
                  <th>Assigned To</th>
                </tr>
                <tr>
                  {% for task in tasks %}
                  <td class="p-0 text-center">
                    
                  </td>
                  <td style="margin: 20px; padding: 30px;">{{ task.title }}</td>
                  
                  <td style="margin: 20px; padding: 30px;">{{ task.due_date}}</td>
                  <td style="margin: 20px; padding: 30px;">
                    <!-- <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a>
                    <a class="btn btn-danger btn-action" data-toggle="tooltip" title="" data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?" data-confirm-yes="alert('Deleted')" data-original-title="Delete"><i class="fas fa-trash"></i></a> -->

                    <button><a href="#">Edit</a></button>
                    <button><a href="#">Delete</a></button>
                  </td>
                  <td style="margin: 20px; padding: 30px;">{{ task.assigned_to }}</td>
                </tr>
                {% endfor %}
                
              </tbody></table>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endif %}
{% endblock %}